<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-md-10" >
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="wPanel">
						<a ui-sref="room">
							<img src="/resource/screenshots/1111.png"></img>
						</a>
						<div>
							<p>room owner: xxxx</p>
							<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
							<p>tags tags tags</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="wPanel">
						<a ui-sref="room">
							<img src="/resource/screenshots/1111.png"></img>
						</a>
						<div>
							<p>room owner: xxxx</p>
							<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
							<p>tags tags tags</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="wPanel">
						<a ui-sref="room">
							<img src="/resource/screenshots/1111.png"></img>
						</a>
						<div>
							<p>room owner: xxxx</p>
							<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
							<p>tags tags tags</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="wPanel">
						<a ui-sref="room">
							<img src="/resource/screenshots/1111.png"></img>
						</a>
						<div>
							<p>room owner: xxxx</p>
							<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
							<p>tags tags tags</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>