.row-xs-1{
    background-color: #007BBC;
}
.row-xs-10 {
    background-color: #007BBC;
}
.row-xs-11{
    background-color: #6FE4DA;
}
.rightbottom{
        background-color:#1db0bc;
}
.leftBottomButton > div > button {
    background-color: #e1da36;
 }
