.row-xs-1 {
    background-color: #F9949D;
}
.row-xs-10 {
    background-color: #F9949D;
}
.row-xs-11 {
    background-color: #FAB1B4;
}
.rightbottom {
    background-color: #FC8C90;
}
.leftBottomButton > div > button {
    background-color: #F6BBB5;
}
