.row-xs-1{
    background-color: #FD7400;
}
.row-xs-10 {
    background-color: #FD7400;
}
.row-xs-11{
    background-color: #BEDB39;
}
.rightbottom{
        background-color:#FFE11A;
}
.leftBottomButton > div > button {
    background-color: #004358;
   
    }
