.row-xs-1{
    background-color: #BF047E;
}
.row-xs-10 {
    background-color: #BF047E;
}
.row-xs-11 {
    background-color: #DFDC01;
}
.rightbottom{
    background-color: #2C486D;
}
.leftBottomButton > div > button {
        background-color:#6b2772;
    }
