.row-xs-1{
    background-color: #A82221;
}
.row-xs-10 {
    background-color: #C5003E;
}
.row-xs-11{
    background-color: #FFFFD0;
}
.rightbottom{
        background-color:#20593A;
}
.leftBottomButton > div > button {
    background-color: #357517;
    }
