.row-xs-1{
    background-color: #7E8AA2;
}
.row-xs-10 {
    background-color: #7E8AA2;
}
.row-xs-11{
    background-color: #ffffff;
}
.rightbottom{
        background-color:#FF9800;
}
.leftBottomButton > div > button {
    background-color: #263248;
    }
