.row-xs-1 {
    background-color: #C6D72A;
}
.row-xs-10 {
    background-color: #C6D72A;
}
.row-xs-11 {
    background-color: #FDFBD2;
}
.rightbottom {
    background-color: #F5DB08;
}
.leftBottomButton > div > button {
    background-color: #EE702E;
}
