
<head>
 
   

  <style>
.modal-header, h4, .close {
background-color: #5cb85c;
color:white !important;
text-align: center;
font-size: 30px;
}
.modal-footer {
background-color: #f9f9f9;
}

div.error input {
  border-color: red;
}

span.error {
  color: red;
}
  </style>
</head>


  <!-- Modal -->
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" ng-click="closeWindow()">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" name="signUpForm">
            <div class="form-group" ng-class="{'error' : errormsg.msg}">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="userNameInput" placeholder="Enter Username" ng-model="user.username" autocomplete="off" name="userNameInputName" ng-blur="checkExistOfUser()" required>
              <span ng-show="signUpForm.userNameInputName.$error.required && submited" class="error">
                  User name is needed!
              </span>
               <span ng-show="errormsg.msg" class="error">
                  The username already exist !

              </span>
            </div>
            <div class="form-group" ng-class="{'error' : signUpForm.emailInputName.$error.email}">
              <label for="emailInput"><span class="glyphicon glyphicon-envelope"></span> Email</label>
              <input type="email" class="form-control" id="emailInput" placeholder="Enter Email" ng-model="user.email" name="emailInputName" autocomplete="off" required >
              <span ng-show="signUpForm.emailInputName.$error.email || signUpForm.emailInputName.$error.required && submited" class="error">
                  The email format is not correct or shouldn't empty!
              </span>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="passWordInput" placeholder="Enter Password" ng-model="user.password" autocomplete="off">
            </div>
            <div class="checkbox">
              <label></label>
            </div>              
            <button class="btn btn-success btn-block" ng-click="register(user)">
                  <span class="glyphicon glyphicon-off" >
              </span> Sign Up</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="closeWindow()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Already a member? <a href="#" ng-click="openLogin()">Login</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>